.vision {
  z-index: 2;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.visionHeading {
  width: 100%;
  text-align: center;
}

.visionHeading h1 {
  font-weight: 700;
  background-image: linear-gradient(to right, #8d2cd3, #3072da);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.col-md p h1 {
  color: #8d2cd3;
}

.col-md p {
  color: #3072da;
  font-size: 30px;
}

.text-left {
  text-align: left !important;
}

.belowHeading {
  margin-top: 6%;
}

@media only screen and (max-width: 800px) {
  .col-md p {
    color: #3072da;
    font-size: 20px;
    margin-top: 10%;
  }

  .belowHeading {
    margin-top: 1%;
  }
}
